.main {
}
.main_header {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.main_filters {
  width: 20%;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.collopse_filters {
  width: 100%;
  padding: 20px 0;
}
.my-header-class {
  font-size: 18px;
  color: white;
}
.rc-collapse {
  background: #8798d4;
  width: 100%;
}

.main_content {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
  }
  .main_filters {
    width: 100%;
  }
  .main_content {
    width: 100%;
  }
}
