.page-item-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.products_pgn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pgn_btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pgn_text {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #656565;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}
.pgn_text.active {
  border-radius: 100%;
  width: 28px;
  height: 28px;
  color: white;
  background: #8798d4;
}
