.notfound{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.notfound_text{
    font-weight: 400;
font-size: 24px;
line-height: 133%;
color: #000;
}